<img id = "background" src = "http://upload.wikimedia.org/wikipedia/commons/9/9c/Student_Union_%26_University_Library,_Northwestern.JPG">

<div class="container">
    <h1 class="CA_Title">
        Purpl.io
    </h1>
    <div class="row vertical-offset-100">
        <div class="col-md-4 col-sm-4 col-sm-offset-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Login</h3>
                </div>
                <div class="panel-body">
                	<%= form_tag "/session", class: "form-horizontal sign-in" do %>
	 				   	<%= text_field_tag :email, nil, placeholder: "Email Address", class: "form-control login-fields" %>                        
	                    <%= password_field_tag :password, nil, placeholder: "Password", class: "form-control" %>
	                    <br>
	                    <%= submit_tag "Sign In", class: "btn btn-custom-lighten pull-right" %>
	                <% end %>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
.login-fields {
	margin-top: 5%;
	margin-bottom: 5%;	
}

#login_submit {
	text-align: right;
}

#background {
    position: fixed;
    z-index: -1;
    width: 120%;
    left: -10%;
    -webkit-filter: blur(4px) brightness(1.1);
    -ms-filter: blur(4px) brightness(1.1);
    filter: blur(4px) brightness(1.1);
}

.vertical-offset-100{
    padding-top:20px;
}

.CA_Title{
	text-align: center;
	font-size: 300%;
	padding-top:10px;
}

</style>